In [ ]:
from google.colab import files
uploaded = files.upload()

Saving orders.csv to orders.csv
Saving users.json to users.json
Saving restaurants.sql to restaurants.sql

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
orders_df = pd.read_csv("orders.csv")

orders_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [ ]:
users_df = pd.read_json("users.json")

users_df.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [ ]:
conn = sqlite3.connect("restaurants.db")
cursor = conn.cursor()

In [ ]:
with open("restaurants.sql", "r") as f:
    sql_script = f.read()

cursor.executescript(sql_script)
conn.commit()

In [ ]:
restaurants_df = pd.read_sql("SELECT * FROM restaurants", conn)

restaurants_df.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [ ]:
orders_users_df = pd.merge(
    orders_df,
    users_df,
    on="user_id",
    how="left"
)

In [ ]:
final_df = pd.merge(
    orders_users_df,
    restaurants_df,
    on="restaurant_id",
    how="left"
)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  object
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  object
 6   name               10000 non-null  object
 7   city               10000 non-null  object
 8   membership         10000 non-null  object
 9   restaurant_name_y  10000 non-null  object
 10  cuisine            10000 non-null  object
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 937.6+ KB

In [ ]:
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [ ]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [ ]:
files.download("final_food_delivery_dataset.csv")

In [ ]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

In [ ]:
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [ ]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [ ]:
gold_df = df[df["membership"] == "Gold"]

In [ ]:
gold_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
8,9,364,7,05-12-2023,953.30,Ruchi Biryani Punjabi,User_364,Chennai,Gold,Restaurant_7,Italian,3.2
11,12,884,423,27-10-2023,1484.65,Royal Tiffins Multicuisine,User_884,Pune,Gold,Restaurant_423,Indian,3.2
13,14,364,112,24-09-2023,898.24,Grand Cafe Punjabi,User_364,Chennai,Gold,Restaurant_112,Chinese,3.2

In [ ]:
city_revenue = gold_df.groupby("city")["total_amount"].sum()

In [ ]:
city_revenue

city
Bangalore     994702.59
Chennai      1080909.79
Hyderabad     896740.19
Pune         1003012.32
Name: total_amount, dtype: float64

In [ ]:
highest_city = city_revenue.idxmax()
highest_revenue = city_revenue.max()

highest_city, highest_revenue

('Chennai', 1080909.79)

In [ ]:
df[["cuisine", "total_amount"]].head()

   cuisine  total_amount
0  Mexican        842.97
1   Indian        546.68
2  Mexican        163.93
3  Chinese       1155.97
4  Italian       1321.91

In [ ]:
cuisine_avg = df.groupby("cuisine")["total_amount"].mean()

In [ ]:
cuisine_avg

cuisine
Chinese    798.389020
Indian     798.466011
Italian    799.448578
Mexican    808.021344
Name: total_amount, dtype: float64

In [ ]:
highest_cuisine = cuisine_avg.idxmax()
highest_avg_value = cuisine_avg.max()

highest_cuisine, highest_avg_value

('Mexican', 808.0213444401395)

In [ ]:
df[["user_id", "total_amount"]].head()

   user_id  total_amount
0     2508        842.97
1     2693        546.68
2     2084        163.93
3      319       1155.97
4     1064       1321.91

In [ ]:
user_total = df.groupby("user_id")["total_amount"].sum()

In [ ]:
users_above_1000 = user_total[user_total > 1000]

In [ ]:
count_users = users_above_1000.count()
count_users

np.int64(2544)

In [ ]:
df[["rating", "total_amount"]].head()

   rating  total_amount
0     3.2        842.97
1     4.5        546.68
2     4.0        163.93
3     4.8       1155.97
4     3.0       1321.91

In [ ]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.03.5", "3.64.0", "4.14.5", "4.65.0"]

df["rating_range"] = pd.cut(
    df["rating"],
    bins=bins,
    labels=labels,
    include_lowest=True
)

In [ ]:
df[["rating", "rating_range"]].head()

   rating rating_range
0     3.2      3.03.5
1     4.5      4.14.5
2     4.0      3.64.0
3     4.8      4.65.0
4     3.0      3.03.5

In [ ]:
rating_revenue = df.groupby("rating_range")["total_amount"].sum()

/tmp/ipython-input-2556673991.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rating_revenue = df.groupby("rating_range")["total_amount"].sum()

In [ ]:
rating_revenue

rating_range
3.03.5    2136772.70
3.64.0    1717494.41
4.14.5    1960326.26
4.65.0    2197030.75
Name: total_amount, dtype: float64

In [ ]:
highest_range = rating_revenue.idxmax()
highest_revenue = rating_revenue.max()

highest_range, highest_revenue

('4.65.0', 2197030.75)

In [ ]:
df[["membership", "city", "total_amount"]].head()

  membership       city  total_amount
0    Regular  Hyderabad        842.97
1    Regular       Pune        546.68
2       Gold    Chennai        163.93
3       Gold  Bangalore       1155.97
4    Regular       Pune       1321.91

In [ ]:
gold_df = df[df["membership"] == "Gold"]

In [ ]:
city_aov = gold_df.groupby("city")["total_amount"].mean()

In [ ]:
city_aov

city
Bangalore    793.223756
Chennai      808.459080
Hyderabad    806.421034
Pune         781.162243
Name: total_amount, dtype: float64

In [ ]:
highest_city = city_aov.idxmax()
highest_aov = city_aov.max()

highest_city, highest_aov

('Chennai', 808.4590800299178)

In [ ]:
df[["cuisine", "restaurant_id", "total_amount"]].head()

   cuisine  restaurant_id  total_amount
0  Mexican            450        842.97
1   Indian            309        546.68
2  Mexican            107        163.93
3  Chinese            224       1155.97
4  Italian            293       1321.91

In [ ]:
restaurant_count = df.groupby("cuisine")["restaurant_id"].nunique()
restaurant_count

cuisine
Chinese    120
Indian     126
Italian    126
Mexican    128
Name: restaurant_id, dtype: int64

In [ ]:
revenue_by_cuisine = df.groupby("cuisine")["total_amount"].sum()
revenue_by_cuisine

cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

In [ ]:
cuisine_summary = pd.DataFrame({
    "distinct_restaurants": restaurant_count,
    "total_revenue": revenue_by_cuisine
})

cuisine_summary

         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Indian                    126     1971412.58
Italian                   126     2024203.80
Mexican                   128     2085503.09

In [ ]:
total_orders = len(df)
total_orders

10000

In [ ]:
gold_orders = len(df[df["membership"] == "Gold"])
gold_orders

4987

In [ ]:
gold_percentage = (gold_orders / total_orders) * 100
round(gold_percentage)

50

In [ ]:
df[["restaurant_name_y", "total_amount"]].head()

  restaurant_name_y  total_amount
0    Restaurant_450        842.97
1    Restaurant_309        546.68
2    Restaurant_107        163.93
3    Restaurant_224       1155.97
4    Restaurant_293       1321.91

In [ ]:
restaurant_stats = df.groupby("restaurant_name_y").agg(
    total_orders=("order_id", "count"),
    avg_order_value=("total_amount", "mean")
)

restaurant_stats

                   total_orders  avg_order_value
restaurant_name_y
Restaurant_1                 16       755.233125
Restaurant_10                25       769.204400
Restaurant_100               26       806.598462
Restaurant_101               17       811.647059
Restaurant_102               21       957.196190
...                         ...              ...
Restaurant_95                17       726.924706
Restaurant_96                26       854.217692
Restaurant_97                23       741.930435
Restaurant_98                16       940.719375
Restaurant_99                16       881.167500

[500 rows x 2 columns]

In [ ]:
filtered_restaurants = restaurant_stats[restaurant_stats["total_orders"] < 20]
filtered_restaurants

                   total_orders  avg_order_value
restaurant_name_y
Restaurant_1                 16       755.233125
Restaurant_101               17       811.647059
Restaurant_106               16       688.811250
Restaurant_107               18       697.815000
Restaurant_109               15       765.737333
...                         ...              ...
Restaurant_89                16       924.502500
Restaurant_93                15       642.950667
Restaurant_95                17       726.924706
Restaurant_98                16       940.719375
Restaurant_99                16       881.167500

[241 rows x 2 columns]

In [ ]:
top_restaurant = filtered_restaurants.sort_values(
    by="avg_order_value",
    ascending=False
).head(1)

top_restaurant

                   total_orders  avg_order_value
restaurant_name_y
Restaurant_294               13      1040.222308

In [ ]:
top_restaurant.index[0]

'Restaurant_294'

In [ ]:
df[["restaurant_id", "restaurant_name_y"]].drop_duplicates().head()

   restaurant_id restaurant_name_y
0            450    Restaurant_450
1            309    Restaurant_309
2            107    Restaurant_107
3            224    Restaurant_224
4            293    Restaurant_293

In [ ]:
restaurant_stats = df.groupby(
    ["restaurant_id", "restaurant_name_y"]
).agg(
    total_orders=("order_id", "count"),
    avg_order_value=("total_amount", "mean")
)

filtered = restaurant_stats[restaurant_stats["total_orders"] < 20]

filtered.sort_values(
    by="avg_order_value",
    ascending=False
).head(1)

                                 total_orders  avg_order_value
restaurant_id restaurant_name_y
294           Restaurant_294               13      1040.222308

In [ ]:
df[["membership", "cuisine", "total_amount"]].head()

  membership  cuisine  total_amount
0    Regular  Mexican        842.97
1    Regular   Indian        546.68
2       Gold  Mexican        163.93
3       Gold  Chinese       1155.97
4    Regular  Italian       1321.91

In [ ]:
combo_revenue = df.groupby(
    ["membership", "cuisine"]
)["total_amount"].sum()

In [ ]:
combo_revenue = df.groupby(
    ["membership", "cuisine"]
)["total_amount"].sum()

In [ ]:
combo_revenue

membership  cuisine
Gold        Chinese     977713.74
            Indian      979312.31
            Italian    1005779.05
            Mexican    1012559.79
Regular     Chinese     952790.91
            Indian      992100.27
            Italian    1018424.75
            Mexican    1072943.30
Name: total_amount, dtype: float64

In [ ]:
top_combo = combo_revenue.idxmax()
top_revenue = combo_revenue.max()

top_combo, top_revenue

(('Regular', 'Mexican'), 1072943.3)

In [ ]:
options = [
    ("Gold", "Indian"),
    ("Gold", "Italian"),
    ("Regular", "Indian"),
    ("Regular", "Chinese")
]

filtered_combo = combo_revenue.loc[options]
filtered_combo

membership  cuisine
Gold        Indian      979312.31
            Italian    1005779.05
Regular     Indian      992100.27
            Chinese     952790.91
Name: total_amount, dtype: float64

In [ ]:
filtered_combo.idxmax(), filtered_combo.max()

(('Gold', 'Italian'), 1005779.05)

In [ ]:
df["order_date"] = pd.to_datetime(df["order_date"])

/tmp/ipython-input-760424543.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["order_date"] = pd.to_datetime(df["order_date"])

In [ ]:
df["order_date"].head()

0   2023-02-18
1   2023-01-18
2   2023-07-15
3   2023-10-04
4   2023-12-25
Name: order_date, dtype: datetime64[ns]

In [ ]:
df["month"] = df["order_date"].dt.month

In [ ]:
def get_quarter(month):
    if month in [1, 2, 3]:
        return "Q1 (JanMar)"
    elif month in [4, 5, 6]:
        return "Q2 (AprJun)"
    elif month in [7, 8, 9]:
        return "Q3 (JulSep)"
    else:
        return "Q4 (OctDec)"

df["quarter"] = df["month"].apply(get_quarter)

In [ ]:
df[["order_date", "month", "quarter"]].head()

  order_date  month       quarter
0 2023-02-18      2  Q1 (JanMar)
1 2023-01-18      1  Q1 (JanMar)
2 2023-07-15      7  Q3 (JulSep)
3 2023-10-04     10  Q4 (OctDec)
4 2023-12-25     12  Q4 (OctDec)

In [ ]:
quarter_revenue = df.groupby("quarter")["total_amount"].sum()
quarter_revenue

quarter
Q1 (JanMar)    2010626.64
Q2 (AprJun)    1945348.72
Q3 (JulSep)    2037385.10
Q4 (OctDec)    2018263.66
Name: total_amount, dtype: float64

In [ ]:
top_quarter = quarter_revenue.idxmax()
top_revenue = quarter_revenue.max()

top_quarter, top_revenue

('Q3 (JulSep)', 2037385.1)

Part 2

In [ ]:
gold_orders_df = df[df["membership"] == "Gold"]

In [ ]:
gold_orders_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range,month,quarter
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0,3.64.0,7,Q3 (JulSep)
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,4.65.0,10,Q4 (OctDec)
8,9,364,7,2023-12-05,953.30,Ruchi Biryani Punjabi,User_364,Chennai,Gold,Restaurant_7,Italian,3.2,3.03.5,12,Q4 (OctDec)
11,12,884,423,2023-10-27,1484.65,Royal Tiffins Multicuisine,User_884,Pune,Gold,Restaurant_423,Indian,3.2,3.03.5,10,Q4 (OctDec)
13,14,364,112,2023-09-24,898.24,Grand Cafe Punjabi,User_364,Chennai,Gold,Restaurant_112,Chinese,3.2,3.03.5,9,Q3 (JulSep)

In [ ]:
total_gold_orders = len(gold_orders_df)
total_gold_orders

4987

In [ ]:
hyderabad_df = df[df["city"] == "Hyderabad"]

In [ ]:
hyderabad_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range,month,quarter
0,1,2508,450,2023-02-18,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2,3.03.5,2,Q1 (JanMar)
21,22,688,279,2023-07-12,507.82,Sri Tiffins Andhra,User_688,Hyderabad,Gold,Restaurant_279,Italian,4.9,4.65.0,7,Q3 (JulSep)
34,35,2858,291,2023-05-15,121.81,Annapurna Foods Non-Veg,User_2858,Hyderabad,Regular,Restaurant_291,Mexican,4.3,4.14.5,5,Q2 (AprJun)
40,41,1071,145,2023-01-09,753.16,Amma Restaurant South Indian,User_1071,Hyderabad,Gold,Restaurant_145,Italian,3.1,3.03.5,1,Q1 (JanMar)
46,47,505,69,2023-09-30,929.24,Classic Tiffins Punjabi,User_505,Hyderabad,Gold,Restaurant_69,Chinese,4.9,4.65.0,9,Q3 (JulSep)

In [ ]:
total_revenue_hyd = hyderabad_df["total_amount"].sum()
total_revenue_hyd

np.float64(1889366.58)

In [ ]:
distinct_users = df["user_id"].nunique()
distinct_users

2883

In [ ]:
gold_df = df[df["membership"] == "Gold"]

In [ ]:
gold_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range,month,quarter
2,3,2084,107,2023-07-15,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0,3.64.0,7,Q3 (JulSep)
3,4,319,224,2023-10-04,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8,4.65.0,10,Q4 (OctDec)
8,9,364,7,2023-12-05,953.30,Ruchi Biryani Punjabi,User_364,Chennai,Gold,Restaurant_7,Italian,3.2,3.03.5,12,Q4 (OctDec)
11,12,884,423,2023-10-27,1484.65,Royal Tiffins Multicuisine,User_884,Pune,Gold,Restaurant_423,Indian,3.2,3.03.5,10,Q4 (OctDec)
13,14,364,112,2023-09-24,898.24,Grand Cafe Punjabi,User_364,Chennai,Gold,Restaurant_112,Chinese,3.2,3.03.5,9,Q3 (JulSep)

In [ ]:
avg_order_value_gold = gold_df["total_amount"].mean()
avg_order_value_gold

np.float64(797.1455564467616)

In [ ]:
round(avg_order_value_gold, 2)

np.float64(797.15)

In [ ]:
high_rating_df = df[df["rating"] >= 4.5]

In [ ]:
orders_high_rating = len(high_rating_df)
orders_high_rating

3374

In [ ]:
gold_df = df[df["membership"] == "Gold"]

In [ ]:
gold_city_revenue = gold_df.groupby("city")["total_amount"].sum()
gold_city_revenue

city
Bangalore     994702.59
Chennai      1080909.79
Hyderabad     896740.19
Pune         1003012.32
Name: total_amount, dtype: float64

In [ ]:
top_city = gold_city_revenue.idxmax()
top_city

'Chennai'

In [ ]:
total_rows = len(df)
total_rows

10000